h1, h2, h3, h4, h5, h6, p, a, span {
    color: black;
}



.novidades {
    color:  rgb(156 163 175);
    font-size: 0.9vw;
    margin-top: 1vw;
}

h3 {
    font-size: 2vw;
    font-weight: 700;
}

select {
    font-size: 0.9vw ! important;
    padding: 0.3vw ! important;
}

.linha {
    background-color: rgb(0 31 63);
    height: 0.1vw;
    width: 2vw;
}

.botao {
    padding: 1vw ! important;
    font-size: 1vw ! important;
    border-radius: 3vw ! important;
}

.tela {
    max-width: 80vw !important;
    margin: 1vw auto;
}

.select {
    border: rgb(0 31 63) solid 1px;
    border-radius: 3vw !important;
    padding: 0.3vw 1vw ! important;
}

.select option {
    font-size: 0.9vw ! important;
}

.btnRedondo {
    border-radius: 9999px ! important;
}

@media (max-width: 426px) {

    h2 {
        font-size: 4vw;
        width: 80vw;
    }

    .novidades {
        margin-top: 3vw;
        font-size: 3vw;
    }

    h3 {
        font-size: 4vw;
    }

    select {
        font-size: 3vw ! important;
        padding: 1vw ! important;
    }

    .botao {
        padding: 2vw ! important;
        font-size: 2.5vw ! important;
        border-radius: 10vw ! important;
    }
}