.fixed {
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    padding: 0.75vw 4.5vw;
}

h1 {
    font-weight: 900;
    color: rgb(0 31 63);
    font-size: 1.5vw;
    margin: 0 !important;

}

.inputPesquisa {
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1vw;
    width: 27vw;
}

.inputPesquisa:focus {
    outline: none;
}

.botao {
    border-radius: 3vw ! important;
}

.pesquisa {
    border-radius: 3vw ! important;
    border: black solid 1px;
    padding: 0.5vw 1vw ! important;
}

header a {
    color: inherit;
    text-decoration: inherit;
    font-size: 0.8vw !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: rgb(255 255 255);
    padding: 0.75vw 1.75vw !important;
    background: transparent;

}

@media (max-width: 426px) {
    h1 {
        font-size: 3vw;
    }

    .pesquisa {
        height: 4vw;
    }

    .pesquisa span {
        font-size: 3vw !important;
    }

    .pesquisa input {
        font-size: 2vw !important;
        width: 30vw;
    }

    header a {
        font-size: 2vw !important;
        padding: 0.75vw 1.75vw !important;
    }
    
}