h1, h2, h3, h4, h5, h6, p, a, span {
    color: black;
}

.titulo {
    font-weight: bold;
    font-size: 1.5vw;
}

footer p, a {
    color: rgb(156 163 175);
    font-size: 0.9vw;}

.descricao {
    width: 25vw;
}

.rodape {
    color: rgb(156 163 175);
    font-size: 0.9vw;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.btnRedondo {
    border-radius: 9999px ! important;
}

@media (max-width: 426px) {
    footer {
        padding: 5vw !important;
    }

    .titulo {
        font-size: 3vw;
    }

    footer p, a {
        font-size: 2.5vw;
    }

    .descricao {
        width: 80vw;
    }

    .rodape {
        font-size: 2vw;
    }

    footer h4 {
        font-size: 2vw;
        margin-top: 5vw;
    }
}