h1, h2, h3, h4, h5, h6, p, a, span {
    color: black;
}

.titulo {
    font-weight: bold;
    font-size: 1.5vw;
}

footer p, a {
    color: rgb(156 163 175);
    font-size: 0.9vw;}

.descricao {
    width: 25vw;
}

.rodape {
    color: rgb(156 163 175);
    font-size: 0.9vw;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}