.conteudo h2, .conteudo span, .conteudo p{
    color: white !important;
}

.imagembanner {
    width: 100%;
    height: 30vw;
    position: absolute;
    z-index: -1;
}

.banner {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCfmiFAGbUFa0lTX5XasEEjKiwcVkFbXwoEzo8yCgHVgq5hSkEWsYsWYOg8XwwZG72fhd7h5b0P1i7pYf9ph9jcJtRuconesMJPn1GnHSu902LHK6AQr8xb4F53ylLXhqFiXedW-nVmENvmAhiDX_Rwr_BBDIwZalBQRqo5rr0zUZ4UxTKCejP__dfAxIbSNd5NN7vExip_mU0Wz4cn8zDRHWV7LfSXJXjVWl721PPNvh1jpRMdZPY5fgIBc5IV36Tjipxv60FkQVUv');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10vw 9vw 5vw;
}

.curadoria {
    font-size: 0.9vw;
    border: rgb(255 255 255 / 0.2) solid 1px;
    padding: 0.25vw 0.75vw;
    border-radius: 9999px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
    background-color: rgb(255 255 255 / 0.1);


}

h2 {
    font-size: 4.5rem;
    font-weight: 800;
    width: 40vw;
}

.conteudo p {
    font-size: 1.5vw;
    margin-top: 1vw;
    width: 40vw;
}



.botao {
    padding: 1vw ! important;
    font-size: 1vw ! important;
    border-radius: 3vw ! important;
}

.gradiente {
    background: linear-gradient(to right, rgba(0, 31, 63, 0.9) 0%, rgba(0, 31, 63, 0.4) 50%, rgba(0, 31, 63, 0) 100%);
    width: 100%;
    height: 34vw;
    position: absolute;
}

.conteudo {
    position: relative;
    z-index: 1;
}

@media (max-width: 426px) {

    .gradiente {
        height: 50vw;
    }

    h2 {
        font-size: 8vw;
        width: 80vw;
    }

    .conteudo p {
        font-size: 3vw;
        width: 80vw;
    }

    .conteudo {
        padding: 5vw;
    }

    .curadoria {
        font-size: 1.5vw;
    }

    .botao {
        padding: 2vw ! important;
        font-size: 2.5vw ! important;
        border-radius: 10vw ! important;
    }
}