h1, h2, h3, h4, h5, h6, p, a, span {
    color: black;
}

.imagembanner {
    width: 100%;
    height: 30vw;
    position: absolute;
    z-index: -1;
}

.banner {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCfmiFAGbUFa0lTX5XasEEjKiwcVkFbXwoEzo8yCgHVgq5hSkEWsYsWYOg8XwwZG72fhd7h5b0P1i7pYf9ph9jcJtRuconesMJPn1GnHSu902LHK6AQr8xb4F53ylLXhqFiXedW-nVmENvmAhiDX_Rwr_BBDIwZalBQRqo5rr0zUZ4UxTKCejP__dfAxIbSNd5NN7vExip_mU0Wz4cn8zDRHWV7LfSXJXjVWl721PPNvh1jpRMdZPY5fgIBc5IV36Tjipxv60FkQVUv');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5vw;
}

.curadoria {
    font-size: 0.75vw;
    border: black solid 0.1vw;
    padding: 0.5vw;
    border-radius: 0.75vw;
}

h2 {
    font-size: 4vw;
    font-weight: bold;
    width: 40vw;
}

p {
    font-size: 1.5vw;
    margin-top: 1vw;
}

header p {
    width: 40vw;

}

.botao {
    padding: 1vw ! important;
    font-size: 1vw ! important;
    border-radius: 3vw ! important;
}